*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!AGENTS.md
!package.json
!docs/
!docs/**
docs/**/build/
docs/**/.cache/
!/.github/
!/.github/workflows/
!/.github/workflows/encoding-guard.yml
!/.editorconfig
!/.gitattributes
